.navbar{

height:80px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

border-bottom:1px solid #E5E7EB;

position:sticky;

top:0;

z-index:50;

}

/* Left */

.navbar-left{

display:flex;

align-items:center;

gap:20px;

}

/* Hamburger */

.menu-btn{

display:none;

width:45px;

height:45px;

border:none;

border-radius:10px;

background:#F5F7FA;

cursor:pointer;

font-size:18px;

color:#1F4B43;

transition:.3s;

}

.menu-btn:hover{

background:#1F4B43;

color:white;

}

/* Search */

.search-box{

display:flex;

align-items:center;

background:#F5F7FA;

padding:12px 18px;

border-radius:30px;

width:380px;

}

.search-icon{

color:#888;

margin-right:12px;

}

.search-box input{

border:none;

outline:none;

background:none;

width:100%;

font-size:15px;

}

/* Right */

.navbar-right{

display:flex;

align-items:center;

gap:18px;

}

/* Icons */

.icon-btn{

width:45px;

height:45px;

border:none;

border-radius:50%;

background:#F5F7FA;

cursor:pointer;

font-size:18px;

color:#1F4B43;

transition:.3s;

position:relative;

}

.icon-btn:hover{

background:#1F4B43;

color:white;

}

/* Notification */

.notification-count{

position:absolute;

top:4px;

right:3px;

width:18px;

height:18px;

border-radius:50%;

background:#E53935;

color:white;

font-size:11px;

display:flex;

justify-content:center;

align-items:center;

}

/* Profile */

.profile-box{

display:flex;

align-items:center;

gap:12px;

padding-left:10px;

cursor:pointer;

}

.profile-box img{

width:48px;

height:48px;

border-radius:50%;

object-fit:cover;

}

.profile-box h4{

font-size:15px;

color:#1F4B43;

}

.profile-box span{

font-size:13px;

color:#888;

}

/* Responsive */

@media(max-width:992px){

.search-box{

width:250px;

}

}

@media(max-width:768px){

.menu-btn{

display:block;

}

.search-box{

width:180px;

}

.profile-box div{

display:none;

}

}

@media(max-width:576px){

.search-box{

display:none;

}

.navbar{

padding:0 15px;

}

}