.sidebar{

height:100vh;

display:flex;

flex-direction:column;

justify-content:space-between;

background:white;

padding:25px 20px;

}

/* Logo */

.sidebar-logo{

display:flex;

align-items:center;

gap:15px;

margin-bottom:40px;

}

.logo-icon{

width:55px;

height:55px;

border-radius:15px;

background:#1F4B43;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

color:white;

}

.sidebar-logo h2{

font-size:24px;

color:#1F4B43;

}

.sidebar-logo span{

font-size:13px;

color:#777;

}

/* Menu */

.sidebar-menu{

display:flex;

flex-direction:column;

gap:8px;

flex:1;

}

.sidebar-link{

display:flex;

align-items:center;

gap:15px;

padding:15px 18px;

text-decoration:none;

color:#444;

font-size:17px;

font-weight:500;

border-radius:12px;

transition:.3s;

}

.sidebar-link svg{

font-size:18px;

}

.sidebar-link:hover{

background:#F5F7FA;

color:#1F4B43;

transform:translateX(5px);

}

/* Active */

.sidebar-link.active{

background:#1F4B43;

color:white;

}

.sidebar-link.active svg{

color:#E39A3B;

}

/* Bottom */

.sidebar-bottom{

border-top:1px solid #E5E7EB;

padding-top:20px;

}

.sidebar-user{

display:flex;

align-items:center;

gap:12px;

margin-bottom:18px;

}

.sidebar-user img{

width:52px;

height:52px;

border-radius:50%;

}

.sidebar-user h4{

font-size:16px;

color:#1F4B43;

}

.sidebar-user p{

font-size:13px;

color:#888;

}

/* Logout */

.logout-btn{

width:100%;

padding:14px;

border:none;

border-radius:12px;

background:#FFE8E8;

color:#D83A3A;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

font-size:16px;

cursor:pointer;

transition:.3s;

}

.logout-btn:hover{

background:#D83A3A;

color:white;

}

/* Responsive */

@media(max-width:768px){

.sidebar{

width:250px;

}

}